<app-navbar></app-navbar>
<div class="container" *ngIf="authorized == true">
    <div class="row mt-5">
        <div class="col-sm todo-card mx-3">
            <h2 class="title">To Do</h2>
            <div class="row" *ngFor="let task of toDoList; let i = index">
                <div class="col s12 m5">
                    <div class="card-panel card">
                        <h4>{{ task.description }}</h4>
                        <h5>{{ task.percent }}%</h5>
                        <p>{{ task.comment }}</p>
                        <div class="text-right">
                            <a class="delete-button" (click)="deleteTask(task._id)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm doing-card mx-3">
            <h2 class="title">Doing</h2>
            <div class="row" *ngFor="let task of doingList; let i = index">
                <div class="col s12 m5">
                    <div class="card-panel card">
                        <h4>{{ task.description }}</h4>
                        <h5>{{ task.percent }}%</h5>
                        <p>{{ task.comment }}</p>
                        <div class="text-right">
                            <a class="delete-button" (click)="deleteTask(task._id)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm done-card mx-3">
            <h2 class="title">Done</h2>
            <div class="row" *ngFor="let task of doneList; let i = index">
                <div class="col s12 m5">
                    <div class="card-panel card">
                        <h4>{{ task.description }}</h4>
                        <h5>{{ task.percent }}%</h5>
                        <p>{{ task.comment }}</p>
                        <div class="text-right">
                            <a class="delete-button" (click)="deleteTask(task._id)"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="authorized == false">
    <div class="container no-authorized">
        <img src="../../../assets/Not authorized.jpg" alt="No authorized">
    </div>
</div>