.no-authorized {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.todo-card {
    margin-top: 5px;
    background-color: #fef668;
    border-radius: 7px;
}

.doing-card {
    margin-top: 5px;
    background-color: #d996d8;
    border-radius: 7px;
}

.done-card {
    margin-top: 5px;
    background-color: #abd46e;
    border-radius: 7px;
}

.card {
    background-color: #cdcdcd;
}

.title {
    color: #a152a7;
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    text-align: center;
}

.delete-button {
    margin-right: -5px;
    color: #a2a2a2;
}

.text-title {
    color: #540581;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    font-weight: normal;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 5px 5px rgb(153, 153, 153);
}