.table-container{
    margin-top: 45px;
}

.no-authorized {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.text-title {
    color: #540581;
    font-family: "Great Vibes", cursive;
    font-size: 40px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 5px 5px rgb(153, 153, 153);
}